.chorus-history {
  position: relative;

  @include general-text;

  &__header {
    padding-left: 137px;

    background-color: $light-blue;
  }

  &__heading {
    @include general-text;
  }

  &__date {
    position: absolute;
    left: 26px;
    top: 11px;

    color: $gray-600;
  }

  &__expand {
    position: absolute;
    right: 40px;
    top: 4px;

    text-decoration: none;
  }

  &__expand::before {
    content: "Развернуть";
    color: $button-color;
  }

  &__expand::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);

    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid $button-color;
    border-bottom: none;
    transition: all 0.4s ease;
  }

  &__expand[aria-expanded=true]::before {
    content: "Свернуть";
    color: $heading-color;
  }

  &__expand[aria-expanded=true]::after {
    border-bottom: 12px solid $heading-color;
    border-top: none;
  }

  &__expand[aria-expanded=true] + &__header {
    background-color: $blue;
  }

  &__text {
    padding: 30px 137px;
  }

  &__link {
    display: block;

    margin-bottom: 15px;

    color: $button-color;
    text-decoration: underline;
  }

  &__caption {
    padding-left: 10px;
    margin-bottom: 10px;
  }
}

