.social-block {
  flex-grow: 1;

  &--footer {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;

    @include list-killer;
    font-size: 0;
  }

  &__list--header {
    justify-content: flex-end;
  }

  &__item {
    margin-right: 16px;
    opacity: 0.7;
  }
}

