.main-header {
  min-width: $desktop-width;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0 20px;
  }

  &__list {
    display: flex;

    @include list-killer;
    font-size: 0;
  }

  &__item {
    margin-right: 16px;
  }
}
