.main-header {
	min-width: $desktop-width;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		/*flex-wrap: wrap;*/
	}

  &__list {
    display: flex;

    @include list-killer;
    font-size: 0;
  }

  &__item {
    margin-right: 16px;
  }
}
