.awards {

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__container>.active {
    display: flex;
  }

  &__wrapper {
    position: relative;

    margin-right: 30px;
    margin-bottom: 100px;
    width: 22%;
    box-sizing: border-box;
  }

  &__wrapper--three {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 31%;

    border: 1px solid $gray-400;
    border-radius: 3px;
  }

  &__wrapper--three:nth-child(3n+3) {
    margin-right: 0;
  }


  &__list {
    margin-bottom: 50px;
    justify-content: center;
  }

  &__img {
    width: 100%;
    height: auto;
  }

   &__img--round {
    display: block;

    padding: 20px;
    border: 1px solid transparent;
    border-radius: 50%;
  }

  &__img:last-child {
    margin-right: 0;
  }

  &__caption {
    @include margin-killer;
    width: 100%;

    padding: 0 13px;

    box-sizing: border-box;

    line-height: 20px;
  }

  &__caption--padding {
    padding: 0 20px;
  }

  &__caption--role {
    font-size: 14px;
    color: $gray-500;
  }

  &__caption--sm {
    @include sm-text;
  }
}
