$main-color: #0197F6;
$heading-color: #01619D;
$button-color: #DB2B39;
$on-hover-color: #E1515D;

$blue: #B9E2FC;
$light-blue: #E7F5FE;
$footer-color: #017CCA;

$desktop-width: 1110px;

@mixin h2 {
  font-weight: 600;
  font-size: 50px;
  line-height: 63px;

  margin-bottom: 40px;
}

@mixin h3 {
font-weight: 600;
font-size: 30px;
line-height: 120%;

 margin-bottom: 20px;
}

@mixin footer-text {
  font-size: 20px;
  line-height: 28px;
}

@mixin sm-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

@mixin general-text {
  font-size: 18px;
  line-height: 25px;
}

@mixin sm-links {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

@mixin list-killer {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin margin-killer {
  margin: 0;
  padding: 0;
}
