$main-color: #0197F6;
$heading-color: #01619D;
$button-color: #DB2B39;
$on-hover-color: #E1515D;

$desktop-width: 1110px;

@mixin h2 {
  font-weight: 600;
  font-size: 50px;
  line-height: 63px;

  margin-bottom: 20px;
}

@mixin caption {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

@mixin list-killer {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin margin-killer {
  margin: 0;
  padding: 0;
}
