.content {
  position: relative;
  margin-bottom: 140px;

  &--full-width {
    width: 100%;
  }

  &__section {
    margin-bottom: 50px;
  }

  &__section:last-child {
    margin-bottom: 0;
  }

  &__title {
    @include h2;
    color: $primary;
  }

  &__subtitle {
    @include h3;
    color: $primary;
  }

  &__text--margin-bottom {
    margin-bottom: 40px;
  }

  &__block {
    width: 100%;
    margin-bottom: 40px;
  }

  &__caption {
    @include sm-text;
    font-style: italic;
  }

  &__block iframe {
    width: 100%;
    height: 410px;
  }

  &__form {
    width: 540px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  &__img {
    margin-bottom: 30px;
  }

  &__hr {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -80px;

    background-color: $gray-400;
  }
}
