.modal {
	&__wrapper {
		padding: 30px;
	}

	&__caption {
		@include sm-links;
		color: $gray-500;
	}

	&__file-input {
		@include general-text;
		color: $button-color;
		text-decoration: underline;
    cursor: pointer;
	}
}
